@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .checkbox-label:has(input:checked) {
    @apply bg-primary text-primary-content p-2;
  }
}
body {
  scrollbar-width: none;
}

.qrCodeBtn {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 28px;
}

.groupInputQr {
  position: relative;
}
#reader {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

svg {
  border: none !important;
}

.scannerD {
  position: fixed;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10;
  font-size: 48px;
  color: white;
}

.close:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 8;
}

#qty {
  min-height: 42px;
}

#ime {
  min-height: 42px;
}

input[type="text"] {
  font-size: 16px !important;
}

#avatar {
  width: 100%;
  height: unset;
}

.messContainer {
  padding: 0.5rem 0;
  width: 100%;
}

.sidebar {
  padding: 0.5rem 0.5rem 0.5rem 0;
  min-width: 300px;
}

@media screen and (max-width: 700px) {
  .homeWrapper {
    flex-direction: column;
    overflow: auto;
    padding: unset;
    width: 100%;
  }

  .myBtn {
    display: block;
    bottom: 8px;
  }

  .searchBTN {
    position: absolute;
    right: 57px;
    top: 18px;
  }

  .wrapper {
    position: relative;
  }

  .convCLass {
    overflow: auto;
    max-height: 144px;
    scrollbar-width: none;
  }

  .sidebar {
    border-right: none;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .homeWrapper {
    min-width: 850px;
  }
}
@media screen and (min-width: 1440px) {
  .homeWrapper {
    min-width: 950px;
  }

  .sidebar {
    min-width: 330px;
  }

  .messContainer {
    min-width: 950px;
  }
}
